<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miseon.braille">
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/braille"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Splash_Activity"/>
        <activity android:name=".StudyMainActivity"/>
        <activity android:name=".StudyConsonantActivity"/>
        <activity android:name=".DeveloperActivity"/>

        <activity android:name=".TestActivity"/>
        <activity android:name=".TestActivity2"/>
        <activity android:name=".TestContentActivity"/>
        <activity android:name=".TestContentActivity2"/>

        <activity android:name=".TranslateActivity1"/>
        <activity android:name=".TranslateActivity2"/>
        <activity android:name=".StudyVowelActivity"/>
        <activity android:name=".StudyAlphabetActivity"/>
        <activity android:name=".StudyNumberActivity"/>
        <activity android:name=".StudySymbolActivity"/>
        <activity android:name="StudyAbbreviationActivity"/>
        <activity android:name=".PracticeContentActivity"/>
        <activity android:name=".PracticeMainActivity"/>
    </application>

</manifest>